{% extends 'base.html.twig' %}

{% block title %} Details {% endblock %}


{% block body %}


    <div class="container bg-light">
    <div class="row" >
        <div id="infosection1" class="col-lg-8 p-3">
            <div id="infotexte" class="w-100 text-light" >
                <div id="filmwatchlist">
                    <p><img src="{{ asset('img/bookmark-solid-svg.png')}}" alt="bookmark" id="bookmark"></p>

                </div>
                <div id="infos" class="m-0"  >
                    <div id="titrenote" class="mb-0 pb-0">
                        <h2 class="mb-5 pl-2 pr-1 bgc-titre">{{ film.titre }}</h2>
                        <div id="note" class="pr-4 pb-1">
                            <p class="mr-3 item2 h4" id="note1"><i class="fas fa-star color text-warning"></i> {{ film.note }}<span class="h6 text-white-50">/10</span></p>
                            <p class="p-1 mb-5 h4" id="notez"><i class="far fa-star"></i><a href="#notez" class="btn btn-primary"><span class="h6"> Notez
                                            ce film</span></a> </p>
                        </div>

                    </div>
                    <div id="categorie" class=" text-center  mt-0" >
                        <p class="pr-5 mb-0 segment ">{{ film.classification }}</p>
                        <p class="pr-5 mb-0 segment">{{ film.nationalite }}</p>
                        <p class="pr-5 mb-0 segment">{{ film.type }}</p>
                        <p class="pr-5 mb-0 segment1">{{ film.dateDeSortie }}</p>
                    </div>

                </div>

            </div>

            <div id="media" >
                <div id="affiche" class="mt-2">
                    <img src="{{ resize(film.poster, 182, 302) }}" alt="joker">
                </div>

                <div id="bandeannonce" class="mt-0 ">
                    <iframe src="{{ film.trailer }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

            </div>

        </div>


        <div id="carouselExampleSlidesOnly" class="carousel slide col-lg-4" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('img/pub3.jpg')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('img/pub-sixt-zidane-2-retour.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('img/pub3.jpg')}}" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>


    </div>
</div>


    <div class="vide"></div>
    <section id="synopsis" class="container p-3 bg-white">

        <h2 class=" bgc-titre1 mr-2">Synopsis</h2>

        <span class="pb-5"> {{ film.classification }} </span>
        <p class="mt-3 descente p-3"> {{ film.synopsis | striptags }} <br> <br>

            <small>{{ film.dateDeSortie }} / {{ film.nationalite }} / {{ film.type }}</small>
            <small> De {{ film.realisateurs }} </small><br>
            <small>Avec {{ film.acteurs }}</small>


        </p>



    </section>

    <div class="vide"></div>

    <section class="couleurfont container pt-3 ">

        <h2 class="bgc-titre1 pb-3" id="photos">Photos</h2>

        <div class="swiper-container py-3">
                <!-- Additional required wrapper -->

                <div class="swiper-wrapper">
                    <!-- Slides -->
                    {% for photo in film.photos %}
                    <div class="swiper-slide">

                        <img src="{{ resize(photo, 300, 300) }}" alt="joker1">

                    </div>
                    {% endfor %}
                </div>

        </div>

    </section>
    <div class="vide"></div>

    {% if film.critiquesPresse | length != 0 %}
    <section id="critiquespresse" class="couleurfont container p-3">

        <h2 class="bgc-titre1">Critiques presse</h2>

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

                {% for critique in film.critiquesPresse %}

                    <div class="row critique">

                        <div class="col-lg-3 user text-center">
                            <p>{{ critique.newspaper }}</p>

                        </div>

                        <div class="col-lg-9">
                            <p>
                                <i class="fas fa-star color text-warning"></i>
                                <i class="fas fa-star color text-warning"></i>
                                <i class="fas fa-star color text-warning"></i>
                                <i class="fas fa-star color text-warning"></i>
                                <i class="fas fa-star color text-warning"></i>
                                <small>Publiée le 27 janvier 2020</small>
                            </p>

                            <p>{{ critique.text }}</p>
                        </div>

                    </div>

                {% endfor %}


            </div>

            <small>Chaque magazine ou journal ayant son propre système de notation, toutes les notes attribuées sont remises au barême de AlloCiné, de 1 à 5 étoiles. Retrouvez plus d'infos sur notre page Revue de presse pour en savoir plus. </small>


        </div>
    </section>
{% endif %}
    <div class="vide"></div>

    {% if film.commentaires | length != 0 %}
    <section id="critiquespresse" class="couleurfont container p-3">
        <h2 class="bgc-titre1">Critiques Spectateurs</h2>
        <div id="critiquesspectateurs">

            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">

                    {% for commentaire in commentaires %}

                    <div class="row critique">

                        <div class="col-lg-2 user text-center" >

                            <a href="#"><img src="{{ asset('img/profile-placeholder.jpg') }}" width="80" class="img-responsive" id="placeholder" alt=""></a>
                            <p>{{ commentaire.user.firstname }}</p>
                        </div>

                        <div class="col-lg-1">
                            <br>
                            <p>Note du film</p>
                            <p>{{ commentaire.note }} / 10</p>
                        </div>
                        <div class="col-lg-8">

                            <p>{{ commentaire.text }}</p>
                        </div>

                    </div>

                    {% endfor %}


                </div>




                <div class="pt-3">
                    {{ knp_pagination_render(commentaires) }}
                </div>


</div>

        </div>
    </section>
    {% endif %}

    <div class="vide"></div>




    <div class="container py-3" style="background-color: white">

        {% if app.user %}
            <section id="commentaire-form" class="container p-3 bg-white mt-3">
                {{ form(commentaire_form) }}
            </section>
        {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-primary">Connectez-vous maintenant pour ajouter un commentaire</a>
        {% endif %}
    </div>


{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script src="{{ asset('assets/js/script2.js') }}"></script>



{% endblock %}